main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  border-style: none;
  border-radius: 1em;
  background-color:white;
  text-decoration: none;
  font-size:1.5em;
  margin-bottom:1em;
}

button:hover {
  color:lightsteelblue;
}