main {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  border-style: none;
  border-radius: 1em;
  background-color:white;
  text-decoration: none;
  font-size:1.5em;
  margin-bottom:1em;
}

button:hover {
  color:lightsteelblue;
}

a:link,
a:visited {
  text-decoration: none;
  color:black;
}


a:hover {
  color:cornflowerblue
}
